@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --cor-branca: #FFFFFF;
    --cor-cinza: #C0C0C0;
    --cor-azul: #167BF7;
    --cor-preto: #00030C;
    --cor-vermelho: #EC2F46;  
    --fonte-principal: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

body{
    background-color: var(--cor-preto);
    font-family: var(--fonte-principal);
    color: var(--cor-branca);
    font-size: 16px;
    font-weight: 400;
}

.corp__title{
    color: var(--cor-branca);
    font-size: 28px;
    font-weight: 700;

}
.corp__main{
    background: url(assets/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.corp__main__botao{
    background-color: var(--cor-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--cor-branca);
    display: block;
    margin: 1em;
    
}

.corp__main__botao2{
    background-color: transparent;
    border: 2px solid var(--cor-branca);
    border-radius: 5px;
    padding: 1em;
    color: var(--cor-branca);
    display: block;
    margin: 1em;
}

.corp__main__aviso{
    font-size: 12px;
    color: var(--cor-cinza);
}

.corp__imagem{
    margin: 1em 0 2em 0 ;
}

.corp__caixa{
    margin: 0 6em;
}

.secundario__imagem{
    width: 70%;
}

.secundario{
    align-items: center;
    padding: 0 10%;
}

.secundario__descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0.1em;
}

.secundario__descricao__subtitulo{
    color: var(--cor-cinza);
}

.secundario__botao{
    display: inline-block;
    text-align: center;
}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos{
    text-align: center;

}

.dispositivos__titulo{
    font-size: 42px;
    color: var(--cor-branca);
}

.lista__item{
    font-size: 32px;
    color: var(--cor-branca);
}

.rod{
    text-align: center;
    margin: 5em 3em;

}
.rod__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a{
    margin-left: 2em;
    text-decoration: none;
    font-size: 14px;
    color: var(--cor-branca);
}

.rod__paragrafo{
    margin-top: 1em;
    font-size: 12px;
    color: var(--cor-cinza);
}

.lista__link a:hover{
    color: var(--cor-azul);
}

.lista__link a:active{
    color: purple;
}

.corp__main__botao:hover{
    background-color: #EC2F46;
}